body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #fff8ec;
}

.tarjeta{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:420px;
    border: 2px solid rgb(250, 50, 0);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: "Courier New", Courier, monospace ;
}
.tituloTarjeta{
    font-size: 30px;
}
.titulo_nav {
    display: flex;
    align-items: center; /* Alinea los elementos hijos verticalmente */
    margin: 0 auto; /* Centra el contenido horizontalmente */
  }
  .icono {
    background-image: url("./assets/restaurant-icon.png");
    background-repeat: no-repeat;
    height: 60px; /* Ajusta la altura según tu diseño */
    width: 60px; /* Ajusta el ancho según tu diseño */
    background-size: cover; /* Ajusta el tamaño del icono */
    background-color: transparent;
    border: none;
    align-self: center;
    margin-left: 50px;
  }
   .container {
    background-color: #f8aa40;
   }